html,body{
    padding:0px;
    margin:0px;
    font-size: 12px;
    font-style: italic;
}

nav{
    display:flex;
    background-color: rgb(44, 44, 85);
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav li{
    padding-left:20px;
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: white;
}

/* --------main section */

.main_section{
    padding: 15%;
    text-align: center;
}

.products{
    background-image: url("../images/curve.png");
    height: 200px; 
    background-size: cover;
    background-position: center top;
    padding: 15%;
    display: flex;
}

.product{
padding: 10px;
margin-top: -240px;
}

.product .content{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 2px rgb(35, 35, 56);
}
.img_content{
    text-align: center;
}

.main_button{
    background-color: #7ACC2D;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: white;
    border:0;
    cursor: pointer;
    border-radius: 2px;
  }

  .main_button:hover{
    background-color: #2d1b58;
  }

